* {
	font-family: Tahoma, Arial, Helvetica, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", sans-serif !important;
}

.item  {
	position: relative;
}

.item img {
	display: block;
	width: 100%;
	height: auto;
}

.item .description {
	position: absolute;
	top: 30%;
	left: 50%;
	width: 100%;
}

.item .description-inner {
	position: relative;
	left: -50%;
	text-align: center;
}

.item .description h1 {
	font-weight: 700;
	font-size: 2.5em;
	color: white;
	line-height: 110%;
}

.item .description h2 {
	font-weight: 600;
	font-size: 2em;
	color: #ddd;
	padding-top: 1em;
	line-height: 100%;
}

#slideshow .owl-controls {
	margin-top: -5em;
}

#header-wrapper,#header-wrapper:after,#header-wrapper:before {
	background: none;
}

ul.style2 li, ul.style1 li {
	padding: .5em 0.1em;
}

@media ( max-width : 600px) {
	.item .description {
		top: 25%;
	}
	.item .description h1 {
		font-size: 2em;
	}
	.item .description h2 {
		font-size: 1.5em;
	}
	#slideshow .owl-controls {
		margin-top: .5em;
	}
}

@media ( max-width : 450px) {
	.item .description {
		top: 20%;
	}
	.item .description h1 {
		font-size: 1.5em;
	}
	.item .description h2 {
		font-size: 1em;
		font-weight: 1000;
	}
	#slideshow .owl-controls {
		margin-top: .5em;
	}
}

@media ( min-width : 1000px) {
	#header-wrapper {
		position: absolute;
		top: 0;
		left: 50%;
	}
	#header-wrapper .container {
		position: relative;
		left: -50%;
	}
}