<!DOCTYPE HTML>

<html>
<head>
	<base href="/" >
	<title>新西兰留学 - 专业贴心的出国留学服务机构</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.dropotron.min.js"></script>
	<script src="js/skel.min.js"></script>
	<script src="js/skel-layers.min.js"></script>
	<script src="js/init.js"></script>
	<link rel="stylesheet" href="css/pz.css" />
	<link rel="stylesheet" href="owl-carousel/owl.carousel.css" />
	<link rel="stylesheet" href="owl-carousel/owl.theme.css" />

	<noscript>
		<link rel="stylesheet" href="css/skel.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/style-desktop.css" />
	</noscript>
	<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
</head>
<body class="homepage">
<div id="header-wrapper">
	<div class="container">
		<!-- Header -->
		<div id="header">
			<div class="inner">

				<!-- Logo -->
				<h1><a href="#" id="logo">新西兰天诚</a></h1>

				<!-- Nav -->
				<nav id="nav">
					{% set nav = app.get.root('main') %}
					{{ nav|nav|raw }}
				</nav>

			</div>
		</div>
	</div>
</div>


{% block content %}
{% endblock %}

<!-- Footer Wrapper -->
<div id="footer-wrapper">
	<div id="footer" class="container">

		<!-- Footer -->
		<div class="row 200%">

			<!-- Left Footer Content -->
			<div class="8u">
				<section>
					<header>
						<h2>新西兰天诚国际 - 特有的海外服务</h2>
					</header>
					<p>问始以更济几复众用代化每，具文相立酸陕即精给各。 主行六命准之极问观需酸包，意阶林单实类理自近叫北，放消极箩观佣文柜把院。问始以更济几复众用代化每，具文相立酸陕即精给各。 主行六命准之极问观需酸包，意阶林单实类理自近叫北，放消极箩观佣文柜把院。问始以更济几复众用代化每，具文相立酸陕即精给各。 主行六命准之极问观需酸包，意阶林单实类理自近叫北，放消极箩观佣文柜把院。问始以更济几复众用代化每，具文相立酸陕即精给各。 主行六命准之极问观需酸包，意阶林单实类理自近叫北，放消极箩观佣文柜把院。</p>
					<a href="#" class="button icon fa-info-sign">查看</a>

					<!-- Footer Links -->
					<div id="footer-links">
						<div class="row 200%">
							<div class="6u">
								<section>
									<header>
										<h2>友情链接</h2>
									</header>
									<ul class="style1">
										<li class="first"><a href="#">新西兰移民局</a></li>
										<li><a href="#">新西兰签证中心</a></li>
										<li><a href="#">中国侨联</a></li>
										<li><a href="#">中国驻奥克兰总领事馆</a></li>
										<li><a href="#">中国海华武术馆</a></li>
										<li><a href="#">新西兰嘉兴联谊会</a></li>
									</ul>
								</section>
							</div>
							<div class="6u">
								<section>
									<header>
										<h2>新西兰主要城市</h2>
									</header>
									<ul class="style1">
										<li class="first"><a href="#">奥克兰</a></li>
										<li><a href="#">惠灵顿</a></li>
										<li><a href="#">基督城</a></li>
										<li><a href="#">哈密尔顿</a></li>
										<li><a href="#">旦尼丁</a></li>
										<li><a href="#">罗托鲁阿</a></li>
										<li><a href="#">皇后镇</a></li>
									</ul>
								</section>
							</div>
						</div>
					</div>

				</section>
			</div>

			<!-- Right Footer Content -->
			<div class="4u">
				<section>
					<header>
						<h2>联系我们</h2>
					</header>
					<a href="#" class="image full"><img src="images/pic10.jpg" alt=""></a>
					<ul class="contact">
						<li>
							<span class="icon fa-home"></span>
							Untitled Project<br />
							1234 Fictional Road, #5453<br />
							Nashville, TN 00000-0000
						</li>
						<li>
							<span class="icon fa-envelope"></span>
							<a href="#">info@untitledproject.tld</a>
						</li>
						<li>
							<span class="icon fa-phone"></span>
							(000) 000-0000
						</li>
						<li>
							<span class="icon fa-twitter"></span>
							<a href="#">@untitled-corp</a>
						</li>
					</ul>
				</section>
			</div>

		</div>

		<!-- Copyright -->
		<div id="copyright">
			<span>&copy; Untitled. All rights reserved.</span>
		</div>

	</div>
</div>

<script type="text/javascript" src="owl-carousel/owl.carousel.min.js"></script>
<script>
	$(function() {
		$("#slideshow").owlCarousel({

			slideSpeed : 300,
			paginationSpeed : 400,
			singleItem:true

			// "singleItem:true" is a shortcut for:
			// items : 1,
			// itemsDesktop : false,
			// itemsDesktopSmall : false,
			// itemsTablet: false,
			// itemsMobile : false

		});
	});
</script>
</body>
</html>