{% extends 'base.twig' %}

{% block content %}

<div id="slideshow" class="">
	{#{% set slideshow = app.generic.modelData('Asset', 'entity.parentId = 795', {}, { sort: 'rank', order: 'ASC' }) %}#}
	{#{% for itm in slideshow._data %}#}
	{#<div class="item">#}
		{#<img src="/assets/image/{{ itm.id }}/1600/" />#}
		{#<div class="description">#}
			{#<div class="description-inner">#}
				{#<h1>{{ itm.name }}</h1>#}
				{#{{ itm.description|raw }}#}
			{#</div>#}
		{#</div>#}
	{#</div>#}
	{#{% endfor %}#}
</div>
<!-- Header Wrapper -->


<!-- Intro Wrapper -->
<div class="wrapper wrapper-style2">
	<div class="container">
		<div class="row">
			<div class="12u">

				<!-- Intro -->
					<section id="intro">
						<div class="row">
							<div class="4u">
								<section class="first">
									<span class="pennant"><span class="icon fa-cloud-upload"></span></span>														
									<h3>专业 &nbsp;负责 &nbsp;诚信</h3>
									<p>问始以更济几复众用代化每，具文相立酸陕即精给各。 主行六命准之极问观需酸包，意阶林单实类理自近叫北，放消极箩观佣文柜把院。</p>
								</section>
							</div>

							<div class="4u">
								<section class="middle">
									<span class="pennant"><span class="icon fa-retweet"></span></span>														
									<h3>嘉兴新西兰联谊会</h3>
									<p>问始以更济几复众用代化每，具文相立酸陕即精给各。 主行六命准之极问观需酸包，意阶林单实类理自近叫北，放消极箩观佣文柜把院。</p>
								</section>
							</div>

							<div class="4u">
								<section class="last">
									<span class="pennant"><span class="icon fa-cog"></span></span>														
									<h3>留学家庭式服务</h3>
									<p>问始以更济几复众用代化每，具文相立酸陕即精给各。 主行六命准之极问观需酸包，意阶林单实类理自近叫北，放消极箩观佣文柜把院。</p>
								</section>
							</div>
						
						</div>
						<ul class="actions actions-centered">
							<li><a href="#" class="button big icon fa-check-circle-o">联系我们</a></li>
							<li><a href="#" class="button alt big icon fa-info-circle">了解更多</a></li>
						</ul>
					</section>
				
			</div>
		</div>
	</div>
</div>

<!-- Features -->
<div class="wrapper wrapper-style1">
	<div class="container">
		<div class="row">
			<div class="12u">
				
				<!-- Featured -->
					<div id="featured">
					
						<section>
							<header>
								<h2>专注新西兰服务</h2>
								<p>在新西兰，我们是您的家人！</p>
							</header>
							<div class="row">
								<div class="4u">
									<section class="box featured-post"> 
										<a href="#" class="image full"><img src="images/pic02.jpg" alt=""></a>
										<div class="content">
											<h3>留学</h3>
											<p>问始以更济几复众用代化每，具文相立酸陕即精给各。 主行六命准之极问观需酸包，意阶林单实类理自近叫北，放消极箩观佣文柜把院。</p>
											<a href="#" class="button icon fa-info-sign">查看</a>
										</div>
									</section>
								</div>
								<div class="4u">
									<section class="box featured-post">
										<a href="#" class="image full"><img src="images/pic03.jpg" alt=""></a>
										<div class="content">
											<h3>移民</h3>
											<p>问始以更济几复众用代化每，具文相立酸陕即精给各。 主行六命准之极问观需酸包，意阶林单实类理自近叫北，放消极箩观佣文柜把院。</p>
											<a href="#" class="button icon fa-info-sign">查看</a>
										</div>
									</section>
								</div>
								<div class="4u">
									<section class="box featured-post">
										<a href="#" class="image full"><img src="images/pic04.jpg" alt=""></a>
										<div class="content">
											<h3>家庭团聚</h3>
											<p>问始以更济几复众用代化每，具文相立酸陕即精给各。 主行六命准之极问观需酸包，意阶林单实类理自近叫北，放消极箩观佣文柜把院。</p>
											<a href="#" class="button icon fa-info-sign">查看</a>
										</div>
									</section>
								</div>
							</div>

							<div class="row">
								<div class="4u">
									<section class="box featured-post">
										<a href="#" class="image full"><img src="images/pic05.jpg" alt=""></a>
										<div class="content">
											<h3>旅游</h3>
											<p>问始以更济几复众用代化每，具文相立酸陕即精给各。 主行六命准之极问观需酸包，意阶林单实类理自近叫北，放消极箩观佣文柜把院。</p>
											<a href="#" class="button icon fa-info-sign">查看</a>
										</div>
									</section>
								</div>
								<div class="4u">
									<section class="box featured-post">
										<a href="#" class="image full"><img src="images/pic06.jpg" alt=""></a>
										<div class="content">
											<h3>疑难签证</h3>
											<p>问始以更济几复众用代化每，具文相立酸陕即精给各。 主行六命准之极问观需酸包，意阶林单实类理自近叫北，放消极箩观佣文柜把院。</p>
											<a href="#" class="button icon fa-info-sign">查看</a>
										</div>
									</section>
								</div>
								<div class="4u">
									<section class="box featured-post">
										<a href="#" class="image full"><img src="images/pic07.jpg" alt=""></a>
										<div class="content">
											<h3>游学</h3>
											<p>问始以更济几复众用代化每，具文相立酸陕即精给各。 主行六命准之极问观需酸包，意阶林单实类理自近叫北，放消极箩观佣文柜把院。</p>
											<a href="#" class="button icon fa-info-sign">查看</a>
										</div>
									</section>
								</div>
							</div>
						</section>
						
					</div>

				
			</div>
		</div>
	</div>
</div>

<!-- Main Wrapper -->
<div id="main-wrapper">
	<div id="main" class="container">
		<div class="row 200%">

			<div class="8u">

				<!-- Content -->
								<div id="content">
									<section class="box post">
										<header>
											<h2>嘉兴学生在新西兰 - 张三丰</h2>
										</header>
										<a href="#" class="image left"><img src="images/pic08.jpg" alt=""></a>
										<p>问始以更济几复众用代化每，具文相立酸陕即精给各。 主行六命准之极问观需酸包，意阶林单实类理自近叫北，放消极箩观佣文柜把院。问始以更济几复众用代化每，具文相立酸陕即精给各。 主行六命准之极问观需酸包，意阶林单实类理自近叫北，放消极箩观佣文柜把院。</p>
										<ul class="actions">
                                        	<li><a href="#" class="button icon fa-file">详细阅读</a></li>
                                        </ul>
									</section>
									<section class="box post">
										<header>
											<h2>嘉兴人在新西兰 - 韩家宠</h2>
										</header>
										<a href="#" class="image left"><img src="images/pic09.jpg" alt=""></a>
										<p>问始以更济几复众用代化每，具文相立酸陕即精给各。 主行六命准之极问观需酸包，意阶林单实类理自近叫北，放消极箩观佣文柜把院。问始以更济几复众用代化每，具文相立酸陕即精给各。 主行六命准之极问观需酸包，意阶林单实类理自近叫北，放消极箩观佣文柜把院。</p>
										<ul class="actions">
                                        	<li><a href="#" class="button icon fa-file">详细阅读</a></li>
                                        </ul>
									</section>
								</div>

						</div>
						
						<div class="4u">
							<!-- Sidebar -->
					<div id="sidebar">
						<section>
							<header>
								<h2>新西兰八所国立大学</h2>
							</header>
							<ul class="style2">
								<li class="first">奥克兰大学</li>
								<li>梅西大学</li>
								<li>怀卡托大学</li>
								<li>维多利亚大学</li>
								<li>坎特伯雷大学</li>
								<li>奥塔哥大学</li>
								<li>奥克兰理工大学</li>
								<li>林肯大学</li>
							</ul>
							<a href="#" class="button icon fa-folder-open-alt">更多高中和大学...</a>
						</section>
					</div>

			</div>
			
		</div>
	</div>

</div>
			
{% endblock %}